body{
    font-family: "Indie flower", cursive;
    background-color:rosybrown;
    }

    .top{
        text-align: center;
        text-transform: uppercase;
        background-color: whitesmoke;
        font-style: italic;
        padding: 20px;
 }

.img-redonda{
    border-radius: 10%;
    }

.table{
    display: table;
}

.table-cell{
    display: table-cell;
}

.subtitulo{
    color: brown;
    text-transform: uppercase;
    text-align: center
    font-size 20px;
}

.parrafo{
    font-style: italic;
    padding: 5px;
}

#pie{
    background-image: url("../IMG/IMG-2.jpg");
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}
