body{
background-color: rgb(215, 156, 233);
font-family: fantasy;
}  

.parallax{
    background-image: url("../IMG/IMG-7.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#landing{
    height: 500px;
}

#pie{
    height: 200px;
}

.pie-footer{
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    text-align: center,
}

.titulo{
    color: aqua;
    font-style: italic;
    font-size: 1.4em;

}

.modal-header, .modal-footer{
    background-color: coral;
}

.navbar{
    opacity: 0.5;
    background-color: rgb(214, 214, 57);
    z-index: 1;
}

.dropdown-menu{
    background-color: cadetblue!important;
}

.icono{
    font-size: 30px;
}